<h1> Welcome   <%= @user.name %> <%= link_to "Logout", logout_path %></h1>
<%= @user.courses.size() == 0 ? "You don't have course, Please add some." : ""%>
<br/>
<%= link_to "Add Courses", courses_path %>
<h3>Your Courses:</h3>
<% @user.courses.each do |course| %>

<%= link_to course.name, course_questions_path(course.id) %><br/>
<% end %>
